aside
  .sobre-cta
    p O INSTITUTO TRILHAS  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    a(href="/sobre.html") saiba + sobre nós
  .contato-cta
    h4 Vem com a gente!
    p Assine nosso informativo para receber as novidades
    .contato-form
      input(type="email", placeholder="email") 
      button(type="button") assinar
    
